/* strt global */


*{ 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{

}

.container{
    width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0
}

/* end global */


/* start navbar */

.navbar{
    font-size: 20px;
    height: 0;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.navbar .brand{
    float: left;
    width: 40%;
    text-transform: uppercase;
}

.navbar .links{
    float: left;
    width: 60%;
    margin-top: 15px;
}

.navbar .links li{
    display: inline-block;
    padding: 10px 0px;
    margin: 0 10px ;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.navbar .links li.active,
.navbar .links li:hover {
    color: #1BBC9B;
    border-bottom: 2px solid #1BBC9B
}

/* end navbar */

/* start header  */

.header{
    background: url('../images/image2.jpg');
    position: relative;
}

.header .overlay{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1;
}

.header .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;

}

.header .bx-wrapper .bx-viewport{
    height: 100% !important;
    text-align: center;
}

.header ul.bxslider{
    height: 100%;
}

.header .bxslider li{
    display: block; 
    background: #F00;

}
.header .bx-wrapper .bx-controls-direction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .bx-wrapper .bx-controls-direction a{

}





/* end header */


/*start  bxslider */

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
    left: 10px;
    background: url('../images/controls.png') no-repeat 0 -32px;
  }

  .bx-wrapper .bx-next {
    right: 10px;
    background: url('../images/controls.png') no-repeat -43px -32px;
  }
/* end bxslider */



/* start my framework */

.clearfix{
    clear: both
}


/* end my framework */